*{
    box-sizing: border-box;
    padding: 0%;
}
/*header*/
.div1 {  
    background-color: #4040A4;
}
/*titulo*/
.div4 { 
    background-color: #4040A4;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/*nav*/
.div5 { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2px;
}
.div6 { 
    text-decoration: none; 
    color: black;
    font-size: large;
    transition: 0.3s;
    text-align: center;
}
.div7 {  
    text-decoration: none;
    color: black;
    font-size: large;
    transition: 0.3s;

}
.div8 { 
    text-decoration: none;
    color: black;
    font-size: large;
    transition: 0.3s;
}
/*hover*/
.div6:hover{
    color: azure;
    cursor: pointer;
}
.div7:hover{
    color: azure;
    cursor: pointer;
}
.div8:hover{
    color: azure;
    cursor: pointer;
}
.div17:hover{
    color: azure;
}
.div18:hover{
    color: azure;
}
/*main*/
.div2 { 
    background: #A44E4E;
    background: -moz-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
    background: -webkit-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
    background: linear-gradient(to right, #A44E4E 0%, #2388CB 50%, #437553 100%);
}
.card{
    size: 20%;
}
.card-body {
    background-color: #3a3b7b;
}
.div11, .div12, .div13, .div14{
    margin-top: 1rem;
}
.bateria{
    background: #A44E4E;
    background: -moz-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
    background: -webkit-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
    background: linear-gradient(to right, #A44E4E 0%, #2388CB 50%, #437553 100%);
}

/*productos*/
.div9 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   padding: 1rem;
} 

/*footer*/
.div3 { 
    margin: 0 auto;
    padding: 1rem;
    background: #A396A4;
    background: -moz-linear-gradient(left, #A396A4 0%, #2388CB 50%, #437553 100%);
    background: -webkit-linear-gradient(left, #A396A4 0%, #2388CB 50%, #437553 100%);
    background: linear-gradient(to right, #A396A4 0%, #2388CB 50%, #437553 100%);
    width: 100%;
    text-align: center;
}

/*redes*/
.div15 {
    display: flex;
    justify-content: center;
}
.div17{
    color: black;
    transition: 0.3s;
    padding: 1rem;
    font-size: 3rem;
}
.div18{
    color: black;
    transition: 0.3s;
    font-size: 3rem;
    padding: 1rem;
}
.div19{
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-radius: 0.5rem;
    color: black;
    text-decoration: none;
}
.div19:hover{
    color: azure;
    border: 2px solid azure;
    cursor: pointer;
}
/*media*/
@media (max-width: 1170px) {
    .div9{
     grid-template-rows:auto auto;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    }
}
@media (max-width: 630px) {
    .div9{
     grid-template-rows: repeat(4, auto) ;
    grid-template-columns:  1fr;
    align-self: center;
    }
}