.div2 { 
    background: #A44E4E;
    background: -moz-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
    background: -webkit-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
    background: linear-gradient(to right, #A44E4E 0%, #2388CB 50%, #437553 100%);
    /*productos*/
        .div9 { 
            @include grid(repeat (4, 1fr), center, 1rem );
            .div11, .div12, .div13, .div14{
                margin-top: 5rem;
                .card{
                    size: 30%;
                    .card-body{
                        background-color: brown;
                    }
                    }
                }
            }
        }  
        .div9{
        background: #A44E4E;
             background: -moz-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
             background: -webkit-linear-gradient(left, #A44E4E 0%, #2388CB 50%, #437553 100%);
             background: linear-gradient(to right, #A44E4E 0%, #2388CB 50%, #437553 100%);
        }
        .carousel.slide{
            width: 40%;
}
    .email{
        font-size: 2rem;
        font-family: sans-serif;
        text-align: center;
    }
    .cuotas{
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }